In [2]:
#import libraries

import pandas as pd
import numpy as np
import nltk
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from textblob import Word,TextBlob
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
import re
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Prerana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Prerana\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Prerana\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Prerana\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [3]:
# load the data

df = pd.read_csv(r"C:\Users\Prerana\Downloads\Elon_musk.csv",encoding='latin1',index_col=0)
df

                                                   Text
1                                @kunalb11 Im an alien
2     @ID_AA_Carmack Ray tracing on Cyberpunk with H...
3                   @joerogan @Spotify Great interview!
4                       @gtera27 Doge is underestimated
5     @teslacn Congratulations Tesla China for amazi...
...                                                 ...
1995  @flcnhvy True, it sounds so surreal, but the n...
1996  @PPathole Make sure to read ur terms &amp; con...
1997                @TeslaGong @PPathole Samwise Gamgee
1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1999                          Progress update August 28

[1999 rows x 1 columns]

In [4]:
#Number of Words in single tweet

df['w_count'] = df['Text'].apply(lambda x: len(str(x).split(" ")))
df[['Text','w_count']].head()

                                                Text  w_count
1                             @kunalb11 Im an alien        4
2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...       13
3                @joerogan @Spotify Great interview!        4
4                    @gtera27 Doge is underestimated        4
5  @teslacn Congratulations Tesla China for amazi...       17

In [5]:
#Number of characters in single tweet

df['c_count'] = df['Text'].str.len()
df[['Text','c_count']].head()

                                                Text  c_count
1                             @kunalb11 Im an alien       22
2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...       82
3                @joerogan @Spotify Great interview!       35
4                    @gtera27 Doge is underestimated       31
5  @teslacn Congratulations Tesla China for amazi...      104

In [6]:
#number of special characters

df['tags'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
df[['Text','tags']].head()

                                                Text  tags
1                             @kunalb11 Im an alien     1
2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...     1
3                @joerogan @Spotify Great interview!     2
4                    @gtera27 Doge is underestimated     1
5  @teslacn Congratulations Tesla China for amazi...     1

In [7]:
df['upper'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['Text','upper']].head()

                                                Text  upper
1                             @kunalb11 Im an alien      0
2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...      1
3                @joerogan @Spotify Great interview!      0
4                    @gtera27 Doge is underestimated      0
5  @teslacn Congratulations Tesla China for amazi...      0

In [8]:
df['Text'] = df['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['Text'].head()

1                               @kunalb11 im an alien
2    @id_aa_carmack ray tracing on cyberpunk with h...
3                  @joerogan @spotify great interview!
4                      @gtera27 doge is underestimated
5    @teslacn congratulations tesla china for amazi...
Name: Text, dtype: object

In [9]:
#removing punctuation 

df['Text'] = df['Text'].str.replace('[^\w\s]','')
df['Text'].head()

1                                 kunalb11 im an alien
2    id_aa_carmack ray tracing on cyberpunk with hd...
3                     joerogan spotify great interview
4                       gtera27 doge is underestimated
5    teslacn congratulations tesla china for amazin...
Name: Text, dtype: object

In [10]:
#removing stop words

stop = stopwords.words('english')
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['Text'].head()

1                                    kunalb11 im alien
2    id_aa_carmack ray tracing cyberpunk hdr nextle...
3                     joerogan spotify great interview
4                          gtera27 doge underestimated
5    teslacn congratulations tesla china amazing ex...
Name: Text, dtype: object

In [11]:
#removing common words

com = pd.Series(' '.join(df['Text']).split()).value_counts()[:10]
com

spacex            239
amp               218
tesla             166
erdayastronaut    142
rt                127
ppathole          123
flcnhvy           114
yes                86
great              76
teslaownerssv      73
dtype: int64

In [12]:
#removing rare words

com = pd.Series(' '.join(df['Text']).split()).value_counts()[-10:]
com

nyquil                1
musk                  1
negati                1
httpstco6ohta09s5l    1
carousel              1
joeingeneral          1
andrewbogut           1
typical               1
unusual               1
altho                 1
dtype: int64

In [13]:
com = list(com.index)
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in com
                                                
                                                
                                                ))
df['Text'].head()

1                                    kunalb11 im alien
2    id_aa_carmack ray tracing cyberpunk hdr nextle...
3                     joerogan spotify great interview
4                          gtera27 doge underestimated
5    teslacn congratulations tesla china amazing ex...
Name: Text, dtype: object

In [14]:
df['Text'] = df['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['Text'].head()

1                                    kunalb11 im alien
2    id_aa_carmack ray tracing cyberpunk hdr nextle...
3                     joerogan spotify great interview
4                          gtera27 doge underestimated
5    teslacn congratulation tesla china amazing exe...
Name: Text, dtype: object

In [15]:
tf1 = (df['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

           words  tf
0  id_aa_carmack   1
1            ray   1
2        tracing   1
3      cyberpunk   1
4            hdr   1
5      nextlevel   1
6          tried   1

In [16]:
for i,word in enumerate(tf1['words']):
    tf1.loc[i, 'idf'] = np.log(df.shape[0]/(len(df[df['Text'].str.contains(word)])))

tf1

           words  tf       idf
0  id_aa_carmack   1  4.166415
1            ray   1  5.035453
2        tracing   1  7.600402
3      cyberpunk   1  5.115496
4            hdr   1  6.907255
5      nextlevel   1  6.907255
6          tried   1  5.808643

In [17]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

           words  tf       idf     tfidf
0  id_aa_carmack   1  4.166415  4.166415
1            ray   1  5.035453  5.035453
2        tracing   1  7.600402  7.600402
3      cyberpunk   1  5.115496  5.115496
4            hdr   1  6.907255  6.907255
5      nextlevel   1  6.907255  6.907255
6          tried   1  5.808643  5.808643

In [18]:
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(df['Text'])

vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 8677 stored elements in Compressed Sparse Row format>

Bag of Words

In [19]:
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
df_bow = bow.fit_transform(df['Text'])
df_bow

<1999x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 9318 stored elements in Compressed Sparse Row format>

Sentiment Analysis

In [20]:
df['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

1                                 (-0.25, 0.75)
2                                    (0.0, 0.0)
3                                   (0.8, 0.75)
4                                    (0.0, 0.0)
5    (0.20000000000000004, 0.32222222222222224)
Name: Text, dtype: object

In [21]:
df['sentiment'] = df['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
df[['Text','sentiment']].head(10)

                                                 Text  sentiment
1                                   kunalb11 im alien  -0.250000
2   id_aa_carmack ray tracing cyberpunk hdr nextle...   0.000000
3                    joerogan spotify great interview   0.800000
4                         gtera27 doge underestimated   0.000000
5   teslacn congratulation tesla china amazing exe...   0.200000
6                happy new year ox httpstco9wfkmyu2oj   0.468182
7   frodo underdoge thought would fail httpstcozgx...  -0.500000
8            owensparks_ flcnhvy anonyx10 haha thanks   0.200000
9   flcnhvy anonyx10 indeed tweet definitely repre...   0.000000
10                        entertaining outcome likely   0.250000